<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application' , media: 'all' %>

  <title>MindyYourHealth</title>
  
</head>
<body>

<div class="sidebar">
  <%= link_to "Home", index_page_path %>

  <%= link_to "Symptoms", symptoms_page_path %>

  <li class="nav-item">
    <%= link_to "Paitent Portal", new_user_session_path, class: "btn btn-outline-primary" %>
  </li>

  <li class="nav-item">
    <%= link_to "Admin Portal", new_admin_session_url, class: "btn btn-outline-primary" %>
  </li>

  <li class="nav-item">
    <%= link_to "Health Pro Portal", new_admin_session_path, class: "btn btn-outline-primary" %>
  </li>


  <%= link_to "About", about_page_path %>

</div>

<div class="content">
  <h1>Welcome to Mind Your Health!</h1>
  <div style="padding:20px">
  
    <script>

    </script>
  </div>



</body>
</html>
