<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MindyYourHealth</title>
  <style>
    .sidebar {
      height: 100%;
      width: 150px;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #19514c;
      padding-top: 20px;
    }

    .sidebar a {
      padding: 10px;
      text-decoration: none;
      font-size: 18px;
      color: #000000;
      display: block;
    }

    .sidebar a:hover {
      color: #f1f1f1;
    }

    .content {
      margin-left: 250px;
      padding: 16px;
      
      
    }

    body {
      font-family: "Lucida Console", "Courier New", monospace;
      color: #19514c;
      background-color: #fff6eb;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>

<div class="sidebar">
  <%= link_to "Home", index_page_path %>

  <%= link_to "Symptoms", "#symptoms" %>

  <li class="nav-item">
    <%= link_to "Paitent Portal", new_user_session_path, class: "btn btn-outline-primary" %>
  </li>

  <li class="nav-item">
    <%= link_to "Admin Portal", new_admin_session_path, class: "btn btn-outline-primary" %>
  </li>

  <li class="nav-item">
    <%= link_to "Health Pro Portal", new_admin_session_path, class: "btn btn-outline-primary" %>
  </li>


  <%= link_to "About", about_page_path %>

</div>

<div class="content">
  <h1>About us </h1>

  <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci a scelerisque purus semper eget. Venenatis cras sed felis eget. Ut sem viverra aliquet eget sit. Donec ultrices tincidunt arcu non sodales neque sodales ut. Nulla aliquet porttitor lacus luctus. Tellus integer feugiat scelerisque varius morbi. Nisl purus in mollis nunc sed id semper risus in. Purus viverra accumsan in nisl nisi scelerisque. Egestas dui id ornare arcu odio ut sem nulla pharetra. Tempus iaculis urna id volutpat lacus laoreet. Fringilla phasellus faucibus scelerisque eleifend donec. Enim ut sem viverra aliquet eget sit amet. Sit amet consectetur adipiscing elit ut aliquam purus sit. Gravida rutrum quisque non tellus orci ac auctor augue mauris. Tellus mauris a diam maecenas sed enim ut.

    Elit sed vulputate mi sit amet mauris. Nulla facilisi morbi tempus iaculis urna id volutpat lacus. Mollis aliquam ut porttitor leo a. Amet justo donec enim diam vulputate ut pharetra sit amet. Nisl pretium fusce id velit ut. Feugiat in fermentum posuere urna nec. Porta nibh venenatis cras sed felis eget velit. Urna porttitor rhoncus dolor purus. Et odio pellentesque diam volutpat commodo sed egestas. Integer eget aliquet nibh praesent tristique. Bibendum at varius vel pharetra vel turpis nunc eget. Tempor commodo ullamcorper a lacus vestibulum sed. Massa sapien faucibus et molestie ac feugiat sed. In dictum non consectetur a erat nam. In egestas erat imperdiet sed euismod nisi porta. Viverra adipiscing at in tellus integer feugiat scelerisque. Tempor commodo ullamcorper a lacus vestibulum sed arcu non. Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum. Id velit ut tortor pretium viverra suspendisse.
    
    Nibh praesent tristique magna sit amet purus gravida quis. Consequat interdum varius sit amet mattis vulputate enim nulla. Arcu bibendum at varius vel pharetra. Enim ut sem viverra aliquet eget sit. Diam quis enim lobortis scelerisque fermentum dui faucibus in. Bibendum enim facilisis gravida neque convallis a cras semper. Dictum fusce ut placerat orci nulla pellentesque. Eget magna fermentum iaculis eu non diam. Tempus iaculis urna id volutpat lacus laoreet non. Nulla at volutpat diam ut venenatis tellus. Faucibus in ornare quam viverra orci sagittis eu volutpat. Molestie nunc non blandit massa enim nec. Tristique nulla aliquet enim tortor at auctor. Sit amet luctus venenatis lectus magna fringilla urna.
    
    Dolor sed viverra ipsum nunc aliquet bibendum enim facilisis gravida. Nulla posuere sollicitudin aliquam ultrices sagittis orci a. Habitasse platea dictumst vestibulum rhoncus est. Pretium lectus quam id leo in vitae turpis massa sed. Diam vel quam elementum pulvinar etiam non quam lacus. Justo nec ultrices dui sapien eget. Sed pulvinar proin gravida hendrerit. Arcu ac tortor dignissim convallis aenean. Nisi porta lorem mollis aliquam ut porttitor leo a diam. Eleifend mi in nulla posuere sollicitudin aliquam. Augue mauris augue neque gravida. Lacus vel facilisis volutpat est velit egestas dui.
    
    Nam aliquam sem et tortor consequat id. Blandit turpis cursus in hac. Enim tortor at auctor urna nunc id cursus. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin. Ullamcorper morbi tincidunt ornare massa eget egestas. Diam maecenas ultricies mi eget mauris pharetra et. Molestie at elementum eu facilisis sed odio morbi quis commodo. Quis ipsum suspendisse ultrices gravida. Nunc id cursus metus aliquam eleifend mi. Nisl nisi scelerisque eu ultrices vitae auctor eu augue ut. Pretium viverra suspendisse potenti nullam ac tortor. Nunc congue nisi vitae suscipit tellus mauris a diam. Odio euismod lacinia at quis risus sed vulputate odio. Ultrices tincidunt arcu non sodales neque sodales ut. Convallis aenean et tortor at risus viverra adipiscing at. Velit ut tortor pretium viverra suspendisse. Fames ac turpis egestas integer eget aliquet. Pulvinar mattis nunc sed blandit.</h5>
    <script>

    </script>
  </div>



</body>
</html>
